<!-- Table 'lgsmarthinq_devices' edit -->
<form action="?" class="form-horizontal" enctype="multipart/form-data" method="post" name="frmEdit">
    [#if OK#]
    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
    [#endif OK#]
    [#if ERR#]
    <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
    [#endif ERR#]
    <fieldset>
        [#if ID=""#]
        <legend><#LANG_NEW_RECORD#></legend>
        [#endif ID#]
        <!-- TITLE (varchar) -->
        <div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
            <label class="col-lg-3 control-label" for="title">
                <#LANG_TITLE#>:
                (*)
            </label>
            <div class="col-lg-9"><input class="form-control" id="title" name="title" type="text" value="[#TITLE#]">
            </div>
        </div>
        <!-- LINKED_OBJECT (varchar) -->
        <div class="form-group[#if ERR_LINKED_OBJECT#] has-error[#endif#]">
            <label class="col-lg-3 control-label" for="linked_object">
                <#LANG_LINKED_OBJECT#>:
            </label>
            <div class="col-lg-9"><input class="form-control" id="linked_object" name="linked_object" type="text"
                                         value="[#LINKED_OBJECT#]"></div>
        </div>
        <!-- LINKED_PROPERTY (varchar) -->
        <div class="form-group[#if ERR_LINKED_PROPERTY#] has-error[#endif#]">
            <label class="col-lg-3 control-label" for="linked_property">
                <#LANG_LINKED_PROPERTY#>:
            </label>
            <div class="col-lg-9"><input class="form-control" id="linked_property" name="linked_property"
                                         type="text" value="[#LINKED_PROPERTY#]"></div>
        </div>
        <!-- LINKED_METHOD (varchar) -->
        <div class="form-group[#if ERR_LINKED_METHOD#] has-error[#endif#]">
            <label class="col-lg-3 control-label" for="linked_method">
                <#LANG_METHOD#>:
            </label>
            <div class="col-lg-9"><input class="form-control" id="linked_method" name="linked_method" type="text"
                                         value="[#LINKED_METHOD#]"></div>
        </div>
        <!-- UPDATED (datetime) -->
        <div class="form-group[#if ERR_UPDATED#] has-error[#endif#]">
            <label ERR_UPDATED#] [#endif#] [#if class="col-lg-3 control-label" style="color:red;font-weight:bold">
                <#LANG_UPDATED#>:
            </label>
            <div class="col-lg-4">
                <input class="form-control" maxlength=10 name="updated_date" size=12 type="text"
                       value="[#UPDATED_DATE#]">
                [#module name="dateselect" field="updated_date" form="frmEdit"#]
                &nbsp;&nbsp;&nbsp;
                <select class="form-control" name="updated_hours">
                    [#begin UPDATED_HOURS#]
                    <option
                    SELECTED#] SELECTED#] [#if selected[#endif>[#TITLE#]
                    [#end UPDATED_HOURS#]
                </select>
                :
                <select class="form-control" name="updated_minutes">
                    [#begin UPDATED_MINUTES#]
                    <option
                    SELECTED#] SELECTED#] [#if selected[#endif>[#TITLE#]
                    [#end UPDATED_MINUTES#]
                </select>
            </div>
        </div>
        [#module name="linkedobject" object_field="linked_object" property_field="linked_property"
        method_field="linked_method"#]
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-4">
                [#if ID!=""#]
                <button class="btn btn-primary" name="subm" type="submit" value="Submit"><#LANG_SUBMIT#></button>
                [#else ID#]
                <button class="btn btn-primary" name="subm" type="submit" value="Add"><#LANG_ADD#></button>
                [#endif ID#]
                <a class="btn btn-default " href="?data_source=<#DATA_SOURCE#>"><#LANG_CANCEL#></a>
                <input name="id" type="hidden" value="<#ID#>">
                <input name="view_mode" type="hidden" value="<#VIEW_MODE#>">
                <input name="edit_mode" type="hidden" value="<#EDIT_MODE#>">
                <input name="mode" type="hidden" value="update">
                <input name="data_source" type="hidden" value="<#DATA_SOURCE#>">
                <input name="tab" type="hidden" value="<#TAB#>">
            </div>
        </div>
    </fieldset>
</form>
