<!-- Table 'lgsmarthinq_devices' edit -->
<form action="?" class="form-horizontal" enctype="multipart/form-data" method="post" name="frmEdit">
    [#if OK#]
    <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
    [#endif OK#]
    [#if ERR#]
    <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
    [#endif ERR#]
    <fieldset>
        [#if ID=""#]
        <legend><#LANG_NEW_RECORD#></legend>
        [#endif ID#]
        <div class="form-group">
            <div>
                <table class="table table-stripped">
                    <tr>
                        <td><#LANG_TITLE#></td>
                        <td><#LANG_VALUE#></td>
                        <td><#LANG_LINKED_OBJECT#></td>
                        <td><#LANG_LINKED_PROPERTY#></td>
                        <td><#LANG_METHOD#></td>
                        <td valign="top"><#LANG_UPDATED#></td>
                        <td>&nbsp;</td>
                    </tr>
                    [#begin PROPERTIES#]
                    <tr>
                        <td valign="top"><input id="title[#ID#]" name="title[#ID#]" type="text" value="[#TITLE#]"></td>
                        <td valign="top"><input id="value[#ID#]" name="value[#ID#]" type="text" value="[#VALUE#]"></td>
                        <td valign="top"><input id="linked_object[#ID#]" name="linked_object[#ID#]" type="text"
                                                value="[#LINKED_OBJECT#]"></td>
                        <td valign="top"><input id="linked_property[#ID#]" name="linked_property[#ID#]" type="text"
                                                value="[#LINKED_PROPERTY#]"></td>
                        <td valign="top"><input id="linked_method[#ID#]" name="linked_method[#ID#]" type="text"
                                                value="[#LINKED_METHOD#]"></td>
                        [#module name="linkedobject" object_field="linked_object<#PROPERTIES.ID#>"
                        property_field="linked_property<#PROPERTIES.ID#>" method_field="linked_method<#PROPERTIES.ID#>"
                        width="200"#]
                        <td valign="top">[#UPDATED#]</td>
                        <td><a class="btn btn-default"
                               href="?id=<#ID#>&tab=<#TAB#>&view_mode=<#VIEW_MODE#>&delete_id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>');"><i
                                class="glyphicon glyphicon-remove"></i></td>
                    </tr>
                    [#end PROPERTIES#]
                    <tr>
                        <td colspan="20">
                            <#LANG_ADD#>: <input name="title_new" type="text" value="">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        [#module name="linkedobject" object_field="linked_object" property_field="linked_property"
        method_field="linked_method"#]
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-4">
                [#if ID!=""#]
                <button class="btn btn-primary" name="subm" type="submit" value="Submit"><#LANG_SUBMIT#></button>
                [#else ID#]
                <button class="btn btn-primary" name="subm" type="submit" value="Add"><#LANG_ADD#></button>
                [#endif ID#]
                <a class="btn btn-default " href="?data_source=<#DATA_SOURCE#>"><#LANG_CANCEL#></a>
                <input name="id" type="hidden" value="<#ID#>">
                <input name="view_mode" type="hidden" value="<#VIEW_MODE#>">
                <input name="edit_mode" type="hidden" value="<#EDIT_MODE#>">
                <input name="mode" type="hidden" value="update">
                <input name="data_source" type="hidden" value="<#DATA_SOURCE#>">
                <input name="tab" type="hidden" value="<#TAB#>">
            </div>
        </div>
    </fieldset>
</form>
<!-- dataset2 (module) -->
<div class="form-group">
</div>
